body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

nav {
  background-color: #333;
  color: #fff;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 15rem;
  position: fixed;
  top: 0;
  width: calc(100% - 15rem);
  z-index: 999; /* Add a higher z-index to ensure the navigation bar is on top */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333; /* Set the background color to match the navigation bar */
  opacity: 0.8; /* Add transparency to the content */
}

nav ul li {
  margin-left: 30px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 20px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  margin-right: auto;
  color: #fff;
  text-decoration: none;
  margin-left: 40px;
}

header {
  background-color: #007bff;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px; /* Add margin-top to push content below the fixed navigation bar */
}

/* Add the following CSS rules */

.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-text {
  margin-right: 30rem;
}

@media (max-width: 768px) {
  .icon-row i {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .icon-row i {
    font-size: 24px;
  }
}

.hero-text h1 {
  color: #fff;
  font-size: 50px;
}

h1 {
  color: #333;
  font-size: 40px;
}
h2 {
  color: #333;
  font-size: 30px;
}

.content {
  margin: 80px;
  align-items: center;
}
.content h2 {
  text-align: center;
  margin-bottom: 50px;
}
.project-container-new {
  border: 0.1px solid #d1d1d1;
  width: 100%;
}
.project-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start; /* Align items at the start of the cross-axis */
  width: 100%;
  margin: 20px;
}

.project-image {
  width: 500px;
  margin-right: 40px;
  align-self: flex-start; /* Align the image at the start of the cross-axis */
}
.storyboard {
  width: 900px;
  margin-right: 40px;
  align-self: flex-start;
}
.storyboard-text {
  width: 400px;
}
.storyboardp {
  margin-top: 0;
  max-width: 300px;
  /* Remove top margin to align with the image */
  text-align: justify;
}
.project-video {
  width: 800px;
  align-items: center;
  align-self: center;
  align-content: center;
  text-align: center;
  margin-right: 60px;
}
.project-video a {
  margin: 50px;
  max-width: 40px;
}
.project-text {
  flex: 1; /* Allow the text to grow and fill the available space */
}

.project-text p {
  margin-top: 0;
  max-width: 700px;
  /* Remove top margin to align with the image */
  text-align: justify;
}
.content h3 {
  text-align: center;
  margin-top: 50px;
  font-size: 20px;
}
#contact {
  background-color: #333;
  color: #fff;
  padding: 40px;
  text-align: center;
  margin-bottom: 0; /* Remove the default margin-bottom */
}

#contact p {
  margin: 5px 0;
}

#contact a {
  color: #fff;
  text-decoration: none;
}
.mobile-images img {
  height: 200px;
  width: 100px; /* Adjust the width to evenly distribute three projects in one row with a gap */
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  flex-direction: column;
  border: 0.5px solid #ccc;
  flex-direction: column;

  color: #fff;
  border-radius: 20px;
}
.desktop-images img {
  height: 200px;
  width: 280px;
  /* Adjust the width to evenly distribute three projects in one row with a gap */
  box-sizing: border-box;
  padding: 5px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  flex-direction: column;

  color: #fff;
  border-radius: 20px;
}

.smwa-header {
  background-color: #007bff;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}
.smwa-hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.smwa-hero-text {
  margin-right: 10rem;
}
.smwa-hero-text h1 {
  color: #fff;
  font-size: 50px;
  margin-left: 120px;
  text-align: center;
}
.smwa-hero-text p {
  font-size: 30px;
  color: #fff;
  margin-bottom: -20px;
  opacity: 0.8;
  font-weight: 300;
  line-height: 1.4;
  text-align: center;
}
.smwa-hero-icons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  margin-right: 20px;
}

.smwa-icon-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.icon-row:first-child {
  margin-bottom: 60px;
  margin-top: 50px;
}

.hero-icons .fa-paint-brush {
  font-size: 3rem;
}

.hero-icons .fa-palette {
  font-size: 3rem;
}

.icon-row i {
  font-size: 5rem;
  color: #fff;
  margin-right: 40px; /* Add a right margin */
}

.icon-row i:not(:last-child) {
  margin-right: 60px; /* Increase the right margin for all icons except the last one */
}

@media (max-width: 768px) {
  .icon-row i {
    font-size: 28px;
  }
}

@media (max-width: 480px) {
  .icon-row i {
    font-size: 24px;
  }
}

.hero-text h1 {
  color: #fff;
  font-size: 50px;
}

h1 {
  color: #333;
  font-size: 40px;
}
h2 {
  color: #333;
  font-size: 30px;
  margin-top: 0;
}
.hero-text p {
  font-size: 30px;
  color: #fff;

  opacity: 0.8;
  font-weight: 200;
  line-height: 1.4;
}
